.github/
.idea/
.pytest_cache/
venv/
conf/
docs/
test/
.git/
docker/
*.rst
*.pyc
*.pyo
*.pyd
.editorconfig
.gitignore
.dockerignore
tasks.py
.env
env.yaml
.env.sample
LICENSE
requirements-dev.txt
tasks.py